@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700");

.content {
  position: absolute;
}

.mission {
  position: absolute;
}

.gradient {
  background: linear-gradient(to bottom, #ffffff 0%, #efe7fd 100%);
}

.divider {
  width: 95%;
  height: 10px;
  margin: 10px auto;
  background: #420dab;
  border-bottom: 5px solid #dab420;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.recreational {
  box-shadow: 5px 10px 18px #888888;
}

html,
body {
  font-family: "Poppins", sans-serif !important;
}
