@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.buttonCustom {
  font-size: 16;
  font-weight: 600;
  width: 125px;
  height: 40px;
}

.buttonTransparent:hover {
  background-color: transparent;
}

.content {
  z-index: 2;
}

@media (min-width: 992px) {
  .vertCustom {
  }
}

.courtContainer {
  position: relative;
}

.courtOverlay {
  min-height: 150%; /* Hacky but adjust this to allow more screen to be filled with gradient */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 51.38%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 12.15%,
      rgba(0, 0, 0, 0.34) 25.1%,
      rgba(0, 0, 0, 0.58) 45.86%,
      #000000 61.33%,
      #051d39 75.69%,
      #000000 100%
    );
}

@media (max-width: 576px) {
  nav {
    background-color: rgba(229, 230, 246, 0.96);
  }
}

html,
body {
  font-family: "Poppins", sans-serif !important;
}
